
  
  img {
    display: block;
    width: 100%;
    height: 300px
  }
  
  /* Slides on cards */
  .carousel__slider-tray .carousel__slide + .carousel__slide {
    margin-left: 10px;
    margin-right: 24px;
  }
  